html {
  font-family: "Droid Serif", serif;
}

header {
  color: #fff;
  background-color: #70ad55;
}

.optional {
  color: #70ad55;
}

hr {
  border-color: #70ad55;
  opacity: .4;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before,
textarea,
select,
input {
  border-color: #6e8c62;
}

footer {
  color: #fff;
  background-color: #70ad55;
}

.btn {
  color: #fff;
  background-color: #6e8c62;
  border: none;
  padding: .75em;
  padding-left: 3em;
  padding-right: 3em;
}

fieldset {
  border: none;
}

textarea {
  min-height: 10em;
}
